WebContent/wsdl/HelloSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.examples.brito.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.examples.brito.com" xmlns:intf="http://soap.examples.brito.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.examples.brito.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="helloSoap">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloSoapResponse">
    <complexType>
     <sequence>
      <element name="helloSoapReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="helloSoapResponse">

      <wsdl:part element="impl:helloSoapResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloSoapRequest">

      <wsdl:part element="impl:helloSoap" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloSoap">

      <wsdl:operation name="helloSoap">

         <wsdl:input message="impl:helloSoapRequest" name="helloSoapRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloSoapResponse" name="helloSoapResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapSoapBinding" type="impl:HelloSoap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="helloSoap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloSoapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloSoapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloSoapService">

      <wsdl:port binding="impl:HelloSoapSoapBinding" name="HelloSoap">

         <wsdlsoap:address location="http://localhost:8080/HelloSOAP/services/HelloSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
